.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  max-width: 100%;
}

.gifcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.wordcloud {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max_width: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.before-after {
    width: 608px;
    margin: 1em auto;
    border: 1px dotted #1f4056;
    padding: 0 4px;
 }
.before-after p {
    display: inline-block;
    line-height: 1.8em;
    text-align: center;
    width: 49%;
    margin: 0;
}
.before-after img {
    width: 300px;
    height: 200px;
    border: 1px solid black;
 }
